<a class="error" href="{{href}}">
  <b class="error__number">{{number}}</b>
  <p class="error__reason">{{reason}}</p>
  <p class="error__evidence">{{evidence}}</p>
  <p class="error__location">Line {{line}}:{{character}}</p>
</a>
